.social-icon {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 24px;
  color: black;
}

.social-icon:hover {
  text-decoration: none;
  color: gray;
}

.avatar {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.greeting {
  font-size: 36px;
  width: 50%;
  text-align: left;
}